In [1]:
import pandas as pd

#### Importing Datasets

In [2]:
orders = pd.read_csv('orders_and_shipments.csv', encoding='latin1')
fulfillment= pd.read_csv('fulfillment.csv', encoding='latin1')
inventory= pd.read_csv('inventory.csv', encoding='latin1')

In [3]:
orders.head()

,Order ID,Order Item ID,Order YearMonth,Order Year,Order Month,Order Day,Order Time,Order Quantity,Product Department,Product Category,...,Customer Country,Warehouse Country,Shipment Year,Shipment Month,Shipment Day,Shipment Mode,Shipment Days - Scheduled,Gross Sales,Discount %,Profit
0,3535,8793,201502,2015,2,21,14:07,1,Fan Shop,Fishing,...,Mexico,Puerto Rico,2015,2,27,Standard Class,4,400,0.25,200
1,4133,10320,201503,2015,3,2,07:37,1,Fan Shop,Fishing,...,Brazil,Puerto Rico,2015,3,6,Standard Class,4,400,0.09,200
2,7396,18517,201504,2015,4,18,22:47,1,Fan Shop,Fishing,...,Mexico,Puerto Rico,2015,4,20,Standard Class,4,400,0.06,200
3,11026,27608,201506,2015,6,10,22:32,1,Fan Shop,Fishing,...,Denmark,Puerto Rico,2015,6,12,Standard Class,4,400,0.15,200
4,11026,27609,201506,2015,6,10,22:32,1,Fan Shop,Fishing,...,Denmark,Puerto Rico,2015,6,12,Standard Class,4,400,0.13,200

In [4]:
fulfillment.head()

,Product Name,Warehouse Order Fulfillment (days)
0,Perfect Fitness Perfect Rip Deck,8.3
1,Nike Men's Dri-FIT Victory Golf Polo,6.6
2,O'Brien Men's Neoprene Life Vest,5.5
3,Nike Men's Free 5.0+ Running Shoe,9.4
4,Under Armour Girls' Toddler Spine Surge Runni,6.3

In [5]:
inventory.head()

,Product Name,Year Month,Warehouse Inventory,Inventory Cost Per Unit
0,Perfect Fitness Perfect Rip Deck,201712,0,0.69517
1,Nike Men's Dri-FIT Victory Golf Polo,201712,2,1.29291
2,O'Brien Men's Neoprene Life Vest,201712,0,0.56531
3,Nike Men's Free 5.0+ Running Shoe,201712,1,1.26321
4,Under Armour Girls' Toddler Spine Surge Runni,201712,0,1.47648

# Data Cleaning

### Checking for missing values

In [6]:
orders.isnull().sum()
fulfillment.isnull().sum()
inventory.isnull().sum()

Product Name               0
 Year Month                0
 Warehouse Inventory       0
Inventory Cost Per Unit    0
dtype: int64

### Removing Duplicates

In [7]:
#Removing duplicates
orders.drop_duplicates()

,Order ID,Order Item ID,Order YearMonth,Order Year,Order Month,Order Day,Order Time,Order Quantity,Product Department,Product Category,...,Customer Country,Warehouse Country,Shipment Year,Shipment Month,Shipment Day,Shipment Mode,Shipment Days - Scheduled,Gross Sales,Discount %,Profit
0,3535,8793,201502,2015,2,21,14:07,1,Fan Shop,Fishing,...,Mexico,Puerto Rico,2015,2,27,Standard Class,4,400,0.25,200
1,4133,10320,201503,2015,3,2,07:37,1,Fan Shop,Fishing,...,Brazil,Puerto Rico,2015,3,6,Standard Class,4,400,0.09,200
2,7396,18517,201504,2015,4,18,22:47,1,Fan Shop,Fishing,...,Mexico,Puerto Rico,2015,4,20,Standard Class,4,400,0.06,200
3,11026,27608,201506,2015,6,10,22:32,1,Fan Shop,Fishing,...,Denmark,Puerto Rico,2015,6,12,Standard Class,4,400,0.15,200
4,11026,27609,201506,2015,6,10,22:32,1,Fan Shop,Fishing,...,Denmark,Puerto Rico,2015,6,12,Standard Class,4,400,0.13,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30866,73246,176561,201712,2017,12,5,04:59,1,Fan Shop,Toys,...,Australia,Puerto Rico,2017,12,11,Standard Class,4,12,0.06,6
30867,7908,19762,201504,2015,4,26,10:10,1,Fan Shop,Hunting & Shooting,...,Paraguay,Puerto Rico,2015,4,30,Standard Class,4,30,0.12,68
30868,29326,73368,201603,2016,3,4,01:51,1,Fan Shop,Hunting & Shooting,...,India,Puerto Rico,2016,3,6,Second Class,2,30,0.09,68
30869,63308,158284,201707,2017,7,13,03:15,1,Fan Shop,Hunting & Shooting,...,Germany,Puerto Rico,2017,7,17,Second Class,2,150,0.02,60
30870,67951,169874,201709,2017,9,18,21:54,1,Fan Shop,Water Sports,...,Italy,Puerto Rico,2017,9,20,First Class,1,350,-,172

In [8]:
#Removing duplicates
fulfillment.drop_duplicates()

,Product Name,Warehouse Order Fulfillment (days)
0,Perfect Fitness Perfect Rip Deck,8.3
1,Nike Men's Dri-FIT Victory Golf Polo,6.6
2,O'Brien Men's Neoprene Life Vest,5.5
3,Nike Men's Free 5.0+ Running Shoe,9.4
4,Under Armour Girls' Toddler Spine Surge Runni,6.3
...,...,...
113,Stiga Master Series ST3100 Competition Indoor,4.7
114,SOLE E35 Elliptical,1.9
115,Bushnell Pro X7 Jolt Slope Rangefinder,2.0
116,SOLE E25 Elliptical,2.1
117,Bowflex SelectTech 1090 Dumbbells,7.7

In [9]:
#Removing duplicates
inventory.drop_duplicates()

,Product Name,Year Month,Warehouse Inventory,Inventory Cost Per Unit
0,Perfect Fitness Perfect Rip Deck,201712,0,0.69517
1,Nike Men's Dri-FIT Victory Golf Polo,201712,2,1.29291
2,O'Brien Men's Neoprene Life Vest,201712,0,0.56531
3,Nike Men's Free 5.0+ Running Shoe,201712,1,1.26321
4,Under Armour Girls' Toddler Spine Surge Runni,201712,0,1.47648
...,...,...,...,...
4195,TaylorMade 2017 Purelite Stand Bag,201501,0,1.44662
4196,Ogio Race Golf Shoes,201501,0,0.10310
4197,GolfBuddy VT3 GPS Watch,201501,0,1.77747
4198,Titleist Small Wheeled Travel Cover,201501,0,0.15244
4199,Polar Loop Activity Tracker,201501,1,0.88259

### Cleaning Column names

In [10]:
orders.columns=orders.columns.str.strip()

In [11]:
fulfillment.columns=fulfillment.columns.str.strip()

In [12]:
inventory.columns=inventory.columns.str.strip()

#### Removing unnecessary column(OrderYearMonth) from the orders dataset. Order Year and month columns exist

In [13]:
del orders["Order YearMonth"]

### Checking Orders column data types

In [14]:
orders.dtypes

Order ID                      int64
Order Item ID                 int64
Order Year                    int64
Order Month                   int64
Order Day                     int64
Order Time                   object
Order Quantity                int64
Product Department           object
Product Category             object
Product Name                 object
Customer ID                   int64
Customer Market              object
Customer Region              object
Customer Country             object
Warehouse Country            object
Shipment Year                 int64
Shipment Month                int64
Shipment Day                  int64
Shipment Mode                object
Shipment Days - Scheduled     int64
Gross Sales                   int64
Discount %                   object
Profit                        int64
dtype: object

### Changing the Discount % column datatype to float

In [15]:
#Removing all errors in the column
orders["Discount %"]=orders["Discount %"].replace("-",0,regex= True)

#Changing the Discount % datatype to float
orders["Discount %"].astype(float)

0        0.25
1        0.09
2        0.06
3        0.15
4        0.13
         ...
30866    0.06
30867    0.12
30868    0.09
30869    0.02
30870    0.00
Name: Discount %, Length: 30871, dtype: float64

### Checking for missing values

In [16]:
orders.isna().sum()

Order ID                     0
Order Item ID                0
Order Year                   0
Order Month                  0
Order Day                    0
Order Time                   0
Order Quantity               0
Product Department           0
Product Category             0
Product Name                 0
Customer ID                  0
Customer Market              0
Customer Region              0
Customer Country             0
Warehouse Country            0
Shipment Year                0
Shipment Month               0
Shipment Day                 0
Shipment Mode                0
Shipment Days - Scheduled    0
Gross Sales                  0
Discount %                   0
Profit                       0
dtype: int64

#### Removing errors and wrong spelling in the Customer Country column

In [17]:
orders["Customer Country"]=orders["Customer Country"].replace("\W","",regex=True)

In [18]:
orders["Customer Country"].unique()

array(['Mexico', 'Brazil', 'Denmark', 'Netherlands', 'Germany', 'China',
       'Indonesia', 'Pakistan', 'India', 'USA', 'Hungary', 'Sudan',
       'DemocraticRepublicofCongo', 'Poland', 'Togo', 'Guatemala',
       'Panama', 'Chile', 'France', 'Sweden', 'DominicanRepublic',
       'Venezuela', 'SouthKorea', 'Madagascar', 'Iran', 'Cuba',
       'Nicaragua', 'UnitedKingdom', 'Afghanistan', 'Singapore',
       'Morocco', 'Spain', 'Niger', 'Turkey', 'SouthAfrica', 'Iraq',
       'Honduras', 'Italy', 'Australia', 'CotedIvoire', 'Croatia',
       'Ecuador', 'Syria', 'Haiti', 'Bangladesh', 'Argentina', 'Romania',
       'ElSalvador', 'Vietnam', 'Japan', 'Nigeria', 'Belarus',
       'Uzbekistan', 'Egypt', 'Albania', 'Georgia', 'Cameroon',
       'Colombia', 'Newzealand', 'Canada', 'Thailand', 'Senegal',
       'Russia', 'PerÃº', 'Algeria', 'Ukraine', 'Belgium', 'Philippines',
       'Austria', 'Uruguay', 'Malaysia', 'HongKong', 'SaudiArabia',
       'Switzerland', 'Ireland', 'Bulgaria', 'Zambia', 'Jamaica', 'Ghana',
       'Yemen', 'Norway', 'Tanzania', 'Kazakhstan', 'Libya',
       'TrinidadandTobago', 'Finland', 'Portugal', 'Kenya', 'Jordania',
       'Bolivia', 'Gabon', 'Angola', 'Myanmar', 'Mali', 'UAE',
       'BosniaandHerzegovina', 'Guinea', 'Cambodia', 'PapuaNewGuinea',
       'Rwanda', 'Israel', 'Guyana', 'Somalia', 'Barbados', 'Guadalupe',
       'Kyrgyzstan', 'BenÃ­n', 'Tunisia', 'Lithuania', 'Montenegro',
       'CostaRica', 'Mozambique', 'SriLanka', 'Taiwan',
       'CzechRepublicCzechia', 'Lesotho', 'Mongolia', 'Macedonia',
       'Zimbabwe', 'Liberia', 'Liban', 'GuineaBissau', 'Estonia',
       'Azerbaijan', 'Moldova', 'RepublicofCongo', 'Gambia', 'Mauritania',
       'Belize', 'Qatar', 'SierraLeona', 'Slovakia', 'Martinique',
       'Uganda', 'Namibia', 'Paraguay', 'Oman', 'FrenchGuiana', 'Nepal'],
      dtype=object)

### Cleaning Column Contents

In [19]:
orders = orders.map(lambda x: x.strip() if isinstance(x, str) else x)

### Creating a datetime column for "Order Date"

In [20]:
#creating a new column (order date). Joining order year, order month and order day together.
orders["Order Date"] = pd.to_datetime({'year': orders["Order Year"],'month': orders["Order Month"], 'day': orders["Order Day"]})

In [21]:
# Displaying results 
orders["Order Date"].head()

0   2015-02-21
1   2015-03-02
2   2015-04-18
3   2015-06-10
4   2015-06-10
Name: Order Date, dtype: datetime64[ns]

### Creating a datetime column for "Shipment Date"

In [22]:
#creating a new column (Shipment Date). Joining shipment year, shipment month and shipment day together.
orders["Shipment Date"] = pd.to_datetime({'year': orders["Shipment Year"],'month': orders["Shipment Month"], 'day': orders["Shipment Day"]})

#Displaying results
orders["Shipment Date"].head()

0   2015-02-27
1   2015-03-06
2   2015-04-20
3   2015-06-12
4   2015-06-12
Name: Shipment Date, dtype: datetime64[ns]

### Removing unwanted columns. (after joining columns to get order date and shipment date columns, the single columns are irrelevant)

In [23]:
orders.drop(columns=['Order Year', 'Order Month', 'Order Day',
                        'Shipment Year', 'Shipment Month', 'Shipment Day'], inplace=True)

In [ ]:
orders

In [25]:
#Checking fufilment columns datatype
fulfillment.dtypes

Product Name                           object
Warehouse Order Fulfillment (days)    float64
dtype: object

In [26]:
#checking inventory columns datatype
inventory.dtypes

Product Name                object
Year Month                   int64
Warehouse Inventory          int64
Inventory Cost Per Unit    float64
dtype: object

In [27]:
inventory["Year Month"] = inventory["Year Month"].astype(str)

In [28]:
#converting inventory year month to datetime 
inventory["Date"] = pd.to_datetime(inventory["Year Month"] + '01', format='%Y%m%d')
inventory["Year Month"] = inventory["Date"].dt.to_period('M')

In [29]:
del inventory ["Date"]

# Data Manipulation

### Processing Time
Creating a new column "processing time" which will show the the number of days the order processing took (from the Order date to the Shipment date). This will also help in calculating shipment delays, we would be able to see the differece between the scheduled shipment days and the actual days.

In [30]:
orders["Processing Time"] = (orders["Shipment Date"] - orders["Order Date"]).dt.days

### Shipment Delay
Creating a shipment delay column, this is the difference between the actual processing time and the scheduled shipment day to assess delays or efficiencies. Positive values indicates the processing took longer than scheduled.
Negative values indicate the processing was faster than scheduled while Zero indicates the processing was completed on schedule.

In [31]:
orders["Shipment Delay (days)"] = orders["Processing Time"] - orders["Shipment Days - Scheduled"]

### Profit Margin
Creating a Profit Margin column which will be Profit/Gross Sales * 100

In [32]:
orders["Profit Margin"] = (orders["Profit"] / orders["Gross Sales"]) * 100

In [33]:
orders["Profit Margin"] = orders["Profit Margin"].round(2)

## Exporting Cleaned Data
Saving and exporting cleaned datasets to a csv file for more insights and visualization using Power BI

In [34]:
orders.to_csv("order and shipments.csv", index = False)
inventory.to_csv("inventory.csv", index = False)
fulfillment.to_csv("fulfilment.csv", index = False)